
.aboutme {
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px 100px 40px 100px;
    border-radius: 0 0 10px 10px;
    min-height: 100vh;
}

.aboutme-inner {
    width: 100%;
}

p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill {
    display: flex;
    flex-direction: column;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.skill-bar-fill {
    height: 100%;
    background-color: #ffc107;
    transition: width 0.5s ease-in-out;
}

.tab {
    display: inline-block;
    width: 2em;
}