.resume-container {
    text-align: center;
    background-color: var(--bg-white);
    padding: 40px 100px 40px 100px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    min-height: 100vh;
}

.resume {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.resume img {
    max-width: 85%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.resume-download {
    margin-top: 20px;
    text-align: center;
}

.resume-button {
    display: inline-flex;
    align-items: center;
    padding: 20px 25px;
    background-color: var(--font-yellow);
    color: #000000;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #d6c612;
}