
body {
    font-size: var(--base-font-size);
    font-family: system-ui;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: var(--bg-dark-blue);
    color: var(--font-yellow);
    border-radius: 10px;
    /* padding: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}

.sidebar-content a{
    color: var(--font-yellow);
    text-decoration: none;
}

.personal-photo {
    border-radius: 30%;
    margin: 20px auto;
    display: block;
    width:400px;
    height: 400px;
}

.divider {
    border: none;
    height: 2px;
    background-color: var(--font-white);
    margin: 20px 0;
    width: 100%;
}